<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h2>Willkommen, <span th:text="${user.username}">[Benutzername]</span>!</h2>

    <h3>Deine Einkaufsliste:</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Artikel</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${shoppingList}">
                <td th:text="${item}">[Artikelname]</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

